@charset "utf-8";
@import url('https://cdnjs.webstatic.cn/ajax/libs/picocss/2.0.6/pico.blue.min.css');
@import url('https://cdnjs.webstatic.cn/ajax/libs/font-awesome/6.7.2/css/all.min.css');

@font-face {
	font-family: Minecraft;
	font-display: swap;
	src: local('Minecraft Seven v2'), url('/res/MinecraftSevenv2-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Unifont;
	font-display: swap;
	src: local('Unifont'), url('/res/unifont-15.1.05.woff2') format('woff2');
}

@keyframes spin {
	from { transform: rotate(0deg); }

	to { transform: rotate(360deg); }
}

.app-enter-from {
	transform: scale(0.8);
	opacity: 0;
}

.app-enter-to {
	transform: scale(1);
	opacity: 1;
}

.app-enter-active {
	transition: all 0.3s ease;
}

.loading {
	display: inline-flex;
	align-items: center;

	&::before {
		content: '';
		display: block;
		width: 64px;
		height: 64px;
		margin: 0 auto;
		background-image: url('/favicon.ico');
		background-size: contain;
		background-repeat: no-repeat;
		animation: spin 1s linear infinite;
	}
}

.no-more {
	margin-top: 0.8em;
	color: var(--pico-secondary);
	display: inline-flex;
	align-items: center;

	&::before {
		content: '';
		display: block;
		width: 32px;
		height: 32px;
		margin-right: 0.2em;
		background-image: url('/res/elytra_broken.png');
		background-size: contain;
		background-repeat: no-repeat;
		transform: rotate(-45deg);
	}
}

.title {
	color: #5A82E2;
	display: inline-flex;
	align-items: center;
	font-size: 145%;
	-webkit-user-select: none;
	user-select: none;

	&:hover::before {
		transform: rotate(360deg);
	}

	&::before {
		content: '';
		display: block;
		width: 32px;
		height: 32px;
		margin-left: 0.1em;
		margin-right: 0.2em;
		background-image: url('/favicon.ico');
		background-size: cover;
		background-position: center 80%;
		background-repeat: no-repeat;
		transition: transform 0.5s ease-in-out;
	}
}

.content {
	margin-left: 1.2em;
}

.card {
	text-decoration: none;
	padding: 1.2em;
	margin: 0.4em;
	width: 90%;
	background-color: var(--pico-primary-underline);
	border-radius: 0.8em;
	-webkit-user-select: none;
	user-select: none;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
		cursor: pointer;
		.avatar {
			transform: rotate(360deg);
		}
	}

	&>* {
		display: block;
	}

	.header {
		display: inline-flex;
		align-items: center;
	}

	& .avatar {
		width: 20%;
		border-radius: 50%;
		margin-right: 0.4em;
		border: 2px solid;
		filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
		transition: transform 0.3s ease-in-out;
	}

	& .name {
		display: inline-block;
		font-size: 1em;
		font-weight: bold;
	}

	.aka {
		display: block;
		font-size: 0.5em;
		color: var(--pico-secondary);

		&::before,
		&::after {
			padding: 0 0.4em;
			content: '-';
		}
	}

	.role {
		font-size: 0.8em;
		color: var(--pico-contrast);
	}

	@media screen and (max-width: 768px) {
		.name {
			font-size: 1.5em;
		}

		.aka {
			font-size: 0.75em;
		}

		.role {
			font-size: 1.25em;
		}
	}
}

.card.card-project {
	& .pj-icon {
		width: 20%;
		border-radius: 0.4em;
	}

	& .pj-title {
		color: var(--pico-primary);
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 0.1em;
	}

	& .pj-subtitle {
		color: var(--pico-secondary);
		font-size: 0.9em;
		margin-bottom: 0.2em;
	}
}

#nav {
	padding: 0.4em 1em 0.8em;
	width: 100%;
	display: inline-flex;
	align-items: baseline;
	justify-content: space-between;
	background: linear-gradient(to right, #5a83e25b, #3b58985b);
}

#main {
	height: 100%;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #5a83e257;
	-webkit-user-select: none;
	user-select: none;
}

a:not(.card):not(.button):not([role="button"]):not([type="button"]) {
	padding: 0.2em;
	text-decoration: none;
	transition: background-color 0.5s ease, border-radius 0.5s ease;

	&:hover {
		border-radius: 0.2em;
		background-color: rgba(137, 153, 249, 0.2);
	}

	&::before {
		margin-right: 0.2em;
	}

	&[target="_blank"]::after {
		content: '\f35d';
		font-family: 'Font Awesome 6 Free';
		font-weight: 900;
		margin-left: 0.2em;
	}
}

@import url('./lapis.pico.min.css');
