a.button {
	--pico-background-color: var(--pico-primary-background);
	--pico-border-color: var(--pico-primary-border);
	--pico-color: var(--pico-primary-inverse);
	--pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
	padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
	border: var(--pico-border-width) solid var(--pico-border-color);
	border-radius: var(--pico-border-radius);
	outline: 0;
	background-color: var(--pico-background-color);
	box-shadow: var(--pico-box-shadow);
	color: var(--pico-color);
	display: inline-block;
	font-weight: var(--pico-font-weight);
	font-size: 1rem;
	line-height: var(--pico-line-height);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition);
}