name: Page Build and Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Build
        run: |
          pnpm install --frozen-lockfile
          pnpm build
          # copy index.html to 404.html for GitHub Pages
          cp ./dist/index.html ./dist/404.html
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist
      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
